body{
    background-image: url(https://wallpapercave.com/wp/wp4993816.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    animation: moveGif 5s infinite;
}

header{ 

    display:flex ;
    justify-content: space-around;
    color: rgb(173, 83, 14);
    width: 800px; height: 150px;

}

#conteneur{

width: 100vw;
/* si tu veux être plus à l'aise, utilise les % ou les vw ( viewport width ) ou vh ( viewport height )  */
}


.gauche{
    display : flex;
    justify-content : space-between;
    background-color: rgba(151, 200, 159, 0.1);
    opacity: 20%;
    color: rgb(173, 83, 14);
    width: 150px; 
    height: 530px; 
    float: left;
    gap: 20px;
    flex-direction : column;
}

.gauche, p{
    opacity: 1;
    font-size: 25px;
}


.milieu{
    color: rgb(173, 83, 14);
    width: 650px; 
    height: 530px; 
    float: left;
}

.clear{
    clear: both;
}



.tableau{

    display:flex;
    justify-content: center;
    align-items: center;    
    color: rgb(255, 254, 253);
    border: 3px 3px white;

}


.crane {
    /* background-image: url(https://www.stylepochoir.fr/medias/images/cr21-crane-tete-de-mort-pochoir-vue-de-cote-style-pochoir.jpg); */
    position: absolute;
    animation: moveGif 5s infinite;
}

@keyframes moveGif {
    0% {
        left: 0;
        top: 0;
    }
    25% {
        left: 50%;
        top: 0;
    }
    50% {
        left: 50%;
        top: 50%;
    }
    75% {
        left: 0;
        top: 50%;
    }
    100% {
        left: 0;
        top: 0;
    }
}


/* .border, tr{
    border: 2px 1px 1px white;
} */



