*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("assets/background.jpg");
    background-size: cover;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#labyrinthe{
    position: absolute;
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(var(--width), 1fr);
    grid-template-rows: repeat(var(--height), 1fr);
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 6vw;
    height: 6vw;
}

.wall{
    background-color: black;
}